html {
  font-family: "Noto Serif", serif;
}

label {
  display: block;
}

header,
footer {
  background-color: #70ad55;
  color: #fff;
}

fieldset {
  border: none;
}

input,
select,
textarea {
  border-color: #6e8c62;
}

[type="checkbox"] + label::before,
[type="radio"] + label::before {
  border-color: #6e8c62;
}

hr {
  border-color: rgba(112, 173, 85, .3);
}

span {
  color: #70ad55;
}
